-if customer
  :css
    .order-content {display: none}

  .customer-content
    = haml :customer_content, :locals => {:customer => customer}
-else
  :css
    .customer-content {display: none}

  %div{:class => "customer-content"}
    %h2
      No customer found

%div{:class => "order-content"}
  %h3 Order Lookup
  %form{ :action => "/order_search", :method => "post", :class => "form-inline"}
    .form-group
      %input{:type => "text", :name => "order_search", :class => "form-control"}
    %input{:type => "submit", :value => "Send", :class => "btn btn-primary btn-block"}
