-if customer
  %div#currentView.hidden="cusotmer"
  %div#cusotmerContent
    = haml :customer_content, :locals => {:customer => customer}
  %div{:style => "display:none;", :id => "orderSearch"}
    = haml :search
-else
  %div#currentView.hidden="search"
  %div#orderSearch
    = haml :search