<html>
<head>
  <title>Shopify</title>
</head>
<body>
  <h3>Customer</h3>
  <div id="content"></div>

  <script src="https://ajax.deskapi.com/libs/desk/canvas/1.0.0/desk-canvas-all.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <script>
      Desk.canvas(function() {
        Desk.canvas.client.refreshSignedRequest(function(data) {
          if (data.status === 200) {
            console.log(data.payload);
            var sr    = data.payload.response.split('.')[1]
              , ctx   = JSON.parse(Desk.canvas.decode(sr))
              , url   = ctx.context.environment.customer.url

            Desk.canvas.client.ajax(url, {
              client: ctx.client,
              method: 'GET',
              success: function(rsp) {
                console.log(rsp);
                $("#content").html(rsp.payload.first_name);
              }
           })
         }
       })
      })
  </script>
</body>
</html>
