%div#currentView.hidden="search"
-if customer
  %div#cusotmerContent
    = haml :customer_content, :locals => {:customer => customer}
%div{:id => "orderSearch"}
  - if order
    = haml :order_line, :locals => {:order => order}
    = haml :search
  - else
    %p.Polaris-DisplayText.Polaris-DisplayText--sizeLarge.center No orders found
    = haml :search