%h2 Order Lookup
%form{ :action => "/order_search", :method => "post"}
  %input{:type => "text", :name => "order_search", :class => "text"}
  %input{:type => "submit", :value => "Send", :class => "button"}
