!!!
%html
  %head
    %title Desk.com Shopify Integration
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/main.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    %script{:src => "/scripts/main.js"}
    :css

  %body
    %header{:class => "top"}
      %div{:class => "title-block"}
    =yield
